body {

    background-color: #0f0f0f;
    height: 130vh;
}

.middle {
    background-color: #0f0f0f;
    padding-top: 180px;
    width: 100%;
    height: 100vh;
    min-width: 600px;
    min-height: auto;

    display: flex;
    top: 0px;


    position: relative;

    margin: auto;

    justify-content: center;
    margin: auto;
}

.back {

    width: 25px;
    height: auto;
    position: absolute;
    top: 60px;
    left: 40px;
}

.card {


    display: flex;


    margin-left: 5%;
    margin-right: 5%;



    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;




    justify-content: center;
    align-content: center;

    min-width: 90%;
    /* max-height: 180px; */
    min-height: 120px;

    border-radius: 8px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);

    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box,
        linear-gradient(to right, #346e9d45, #ffdd5652 180%) border-box;
    border-radius: 10px;
    border: 1.5px solid transparent;





}

.cardbmw {
    display: flex;


    margin-left: 5%;
    margin-right: 5%;



    overflow: scroll;



    justify-content: center;
    align-content: center;

    min-width: 90%;
    min-height: 120px;

    border-radius: 8px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);

    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box,
        linear-gradient(to right, #61dafb35, #61dafb49 180%) border-box;
    border-radius: 10px;
    border: 1.5px solid transparent;

}

.cardardu {
    display: flex;


    margin-left: 5%;
    margin-right: 5%;



    overflow: scroll;



    justify-content: center;
    align-content: center;

    min-width: 90%;
    min-height: 120px;

    border-radius: 8px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);

    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box,
        linear-gradient(to right, #659ad264, #0043825b 180%) border-box;
    border-radius: 10px;
    border: 1.5px solid transparent;

}

.cardardu:hover {

    transition: 0.6s;
    opacity: 0.7;

}

.card:hover {

    transition: 0.6s;
    opacity: 0.7;

}

.cardbmw:hover {

    transition: 0.6s;
    opacity: 0.7;

}


.card__title {
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    text-align: center;

    letter-spacing: 0.5px;
    text-align: center;

    margin-right: 10%;
    margin-left: 10%;


}

.card__body {
    color: rgb(161, 159, 159);
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 300;

    line-height: 25px;
    font-size: 14px;

    text-align: center;
    margin-right: 10%;
    margin-left: 10%;

}

.projectcards {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;

    width: 100%;
    gap: 30px;
    top: -50px;


}

.projectheader {

    position: absolute;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;


    top: 30px;
    left: 80px;

    background: rgb(43, 164, 226);
    background: linear-gradient(90deg, rgba(43, 164, 226, 1) 0%, rgba(86, 144, 240, 1) 49%, rgba(146, 121, 236, 1) 100%);




    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card__title1 {
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    background: rgb(43, 164, 226);
    background: linear-gradient(90deg, rgba(43, 164, 226, 1) 0%, rgba(86, 144, 240, 1) 49%, rgb(124, 94, 234) 100%);
    letter-spacing: 0.5px;
    padding: 10px 30px;
    border-radius: 9px;
    border: transparent;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}



@media screen and (max-width: 1156px) {
    .card__title1 {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 918px) {
    .card__title1 {
        font-size: 0.6rem;
    }
}